*{
	padding: 0;
	margin: 0;
}

body{
	background-color: fuchsia;
	width: 100%;
	text-align: center;
}
.main{
	max-width: 80%;
	margin: auto;
}
.container{
	max-width: 100%;
	display: inline-flex;
}
.col-3{
	width: 25%;
	padding: 10px;
}

img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 10px auto;
}

h1{
	font-family: 'Fraunces', sans-serif;
	font-weight: 700;
	margin: 20px auto;
}
h3{
	font-family: 'Montserrat', serif;
	font-weight: 500;
	margin: 20px auto;
}
p{
	font-family: cursive;
	line-height: 2;
}